.profil_furnitures_buy_section_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em 0;
}

.furnitures_buy_resume_container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(241, 245, 249, 1);
}

.furnitures_buy_resume_container > div {
  font-size: 70%;
  display: grid;
  grid-template-columns: 18% 18% 12% 15% 15%;
  column-gap: 1.5em;
  /* flex-direction: row; */
  align-items: center;
  
  padding: 1em;
}

.furnitures_buy_resume_header {
  background-color: rgba(241, 245, 249, 1);
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(71, 85, 105, 1);
}

.furnitures_buy_resume_content {
  width: 100%;
}

.furnitures_buy_resume_content > span {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action_label_container {
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
