@media screen and (max-width: 750px) {
}

@media screen and (min-width: 750px) {
  .dashboard_header_right_notification_button {
    color: rgba(71, 85, 105, 1);
  }

  .dashboard_header_notification_popover {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    padding: 0.5em;
    min-width: 10vw;
    max-width: 20vw;
  }
}