@media screen and (min-width: 1100px) {
  .rent_summary__left_container {
        display: flex;
        width: 100%;
        flex-direction: column;
        border: 1px solid #DEDEDE;
        border-radius: 12px;
        gap: 2em;
        padding: 30px;
    }
}

@media screen and (max-width: 1100px) {
  .rent_summary__left_container {
        display: flex;
        width: 100%;
        flex-direction: column;
        border: 1px solid #DEDEDE;
        border-radius: 12px;
        gap: 2em;
        padding: 30px;
    }
}