.profil_delivery_address_container {
  display: grid;
  width: 100%;
  padding: 1em 0;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  column-gap: 10%;
  row-gap: 2em;
}

.section_action_container {
  max-width: 75%;
  width: 75%,
}