/* @media screen and (max-width: 750px) {}
  @media screen and (min-width: 750px) {} */

@media screen and (max-width: 750px) {
  .main_footer_container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 284px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10%;
    background-color: rgba(249, 250, 251, 1);
  }

  .main_footer_right {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 2em;
    /* align-items: center; */
    text-align: left;
    height: 100%;
    width: 100%;
    column-gap: 8%;
  }

  .main_footer_blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    text-align: left;
  }

  .secondary_footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100%;
    min-height: 70px;
    background-color: rgba(15, 23, 42, 1);
    color: rgba(203, 213, 225, 1);
    font-weight: 600;
  }

  .secondary_footer_right {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    column-gap: 10%;
    align-items: center;
  }

  .secondary_footer_left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
  }
}

@media screen and (min-width: 750px) {
  .main_footer_container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 284px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 7%;
    column-gap: 2em;
    background-color: rgba(249, 250, 251, 1);
  }

  .main_footer_right {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    column-gap: 8%;
  }

  .main_footer_blocks {
    display: flex;
    flex-direction: column;
  }

  .secondary_footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    padding: 0 5%;
    min-height: 70px;
    background-color: rgba(15, 23, 42, 1);
    color: rgba(203, 213, 225, 1);
  }

  .secondary_footer_right {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 10%;
    align-items: center;
  }

  .secondary_footer_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 55%;
  }
}

.footer_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
}

.logo_block {
  position: relative;
  height: 5em;
  width: 9em;
  /* margin-left: 23rem; */
  /* margin-right: 10%; */
}

.main_footer_left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main_footer_blocks_title {
  font-weight: 600;
  font-family: 'proxima-nova', sans-serif;
  font-size: 1.250rem;
  color: rgba(27, 32, 50, 1);
}

.main_footer_blocks_content {
  font-family: 'proxima-nova', sans-serif;
  color: rgba(27, 32, 50, 0.7);
  font-size: 1rem;
}

.shop_footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 86px 455px; */
}

.secondary_footer_secured {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  line-height: 1.5rem;
}

.secondary_footer_logo_container {
  position: relative;
  width: 2.5em;
  height: 1.5em;
}

.secondary_footer_logo_component {
  position: absolute;
  width: 100%;
  height: 100%;
}