

.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
}

.bsmove_title {
  font-size: 2.25rem;
  color: rgb(56, 199, 152);
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.section_title {
  font-size: 1rem;
  color: rgb(56, 199, 152);
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
}

.section_subtitle {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 48px;
  line-height: 57.6px ;
}

.subtitle2 {
  text-align: end;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 48px;
  margin-right: 200px;
}
@media (max-width: 800px) {
  .subtitle2 {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    /* padding: 0 0.5em; */
    margin-right: 0px;
  }
}
.section_content {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: rgba(139, 145, 151, 1);
  margin-top: 1.25rem;
  width: 100%;
}

.estimate_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #F9FAFB;
  padding: 16px 70px;
  gap: 36px;
}
.home_estimate_section_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 46em;
  width: 50%;
  flex-wrap: wrap;
}

.home_estimate_section_right {
  display: flex;
  height: 500px;
  width: 750px;
  min-width: 650px;
  max-width: 750px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.home_estimate_section_right_img_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 616px;
  height: 640px;
}

.home_estimage_section_right_img_illustration {
  border-radius: 32px;
  object-fit: fill;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  width: 100%;
  height: 100%;
}
.stats_container {
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 20px 32px;
  width: 412px;
  height: 100px;
  z-index: 100;
  right: 316px;
  border-radius: 16px;
  bottom: 21px;    
  box-shadow: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03);
}
@media (max-width: 1100px) {
  .stats_container {
    right: 0;
    bottom: 40px;
  }
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;

}
.stats h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1B2032;
}

.ESTIMATE_DETAILS_PAGE {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #F9FAFB;

}
.estimate_section_actions_right_button {
  background-color: white;
  border-radius: 11px;
  border: 1px solid #009B73;
  background: #F2FFF5;
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 350px;
  cursor: pointer;
}

.estimate_section_main_content {
  color: #1B2032;
  font-size: 66px;
  margin: 0;
}

.estimate_section_secondary_content {
  margin: 30px 0;
  font-size: 20px;
  color: rgba(139, 145, 151, 1);
  width: 75%;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.estimate_section_actions_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.estimate_section_actions_container button:first-child {
  font-family: "Rubik", sans-serif;
  background-color: #009B73;
  color: white;
  border-radius: 11px;
  background: #009B73;
  padding: 12px 10px;
  height: 50px;
  min-width: 220px;
  border: 1px solid #009B73;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.estimate_section_actions_container button:last-child {
  font-family: "Rubik", sans-serif;
  background-color: #009B73;
  color: black;
  border-radius: 11px;
  background: #F2FFF5;
  height: 50px;
  padding: 12px 10px;
  border: 1px solid #009B73;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}
.feedbacks_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 924px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
}

.feedbacks_section_subtitle {
  margin-top: 1rem;
  font-size: 2.25rem;
  width: 100%;
}

.feedback_section_carousel_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 3.5rem 0;
}

.feedback_section_carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
  gap: 1em;
}

.feedbacks_section_actions_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem;
  color: #FFF;
  font-weight: 600;
}

.prestations_section {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8em 2em 0 2em;
}

@media (min-width: 1100px) {
  .prestation_section_subtitle_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}



.prestation_section_content {
  text-align: center;
  align-items: center;
  width: 60%;
}

.prestation_section_categories_container {
  padding-top: 3.75rem;
  padding-bottom: 9.5rem;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  width: 100%;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 1100px) {
  .prestation_section_categories_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

}
.prestation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.prestation_section_category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 340px;
  border-radius: 16px;
  background-color: #FFFFFF;
  cursor: pointer;
}
@media (min-width: 1100px) {
  .prestation_section_category {
    width: 400px;
  }
}
.prestation_section_category_container {
  display: flex;
  flex-direction: column;
}

.prestation_section_category_thumbnail_container {
  position: relative;
  min-height: 242px;
  min-width: 278px;
  width: 100%;
}

.prestation_section_category_thumbnail {
  min-height: 100%;
  min-width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.prestation_section_category_content {
  height: 60px;
  width: 90%;
  cursor: pointer;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 1.8rem 1rem;
  font-size: 1.25rem;
  color: #FFFFFF;
  background-color: #0F172A;
  border-radius: 24px;
}

.prestation_section_category_content:hover {
  background-color: #FFFFFF;
  border: 1px solid #0F172A;
  color: #0F172A;
} 

.container_guideline {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
}
.guideline_section {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 48px;
  gap: 48px;
  width: 80%;
  border-radius: 32px;
  background-color: #ECFDF5;
}

@media (max-width: 800px) {
  .guideline_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    gap: 10px;
    background-color: #F9FAFB;
    height: auto;
  }
}
.guideline_section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-image: url('/images/green_circle.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  border-radius: 0px 32px 32px 0px;
  -webkit-border-radius: 0px 32px 32px 0px;
  -moz-border-radius: 0px 32px 32px 0px;
  -ms-border-radius: 0px 32px 32px 0px;
  -o-border-radius: 0px 32px 32px 0px;
}
@media (max-width: 800px) {
  .guideline_section::after {
    display: none;
  }
}
.left_guideline {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 0 1em;
}
.left_guideline h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height:  57.6px;
  color: #1B2032;
}
.left_guideline p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 80%;
}
.left_guideline button {
  border-radius: 11px;
  background: #009B73;
  text-align: center;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
}
@media (max-width: 800px) {
  .left_guideline {
    padding: 0px;
    width: 100%;
  }
  .left_guideline h3 {
    font-size: 30px;
    text-align: center;
  }
  .left_guideline p {
    text-align: center;
    width: 100%;
  }
  .left_guideline button {
    margin: 0 auto 30px auto;
  }
}
.right_guideline {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.right_guideline_card {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  gap: 24px;
  padding: 10px 24px;
  border-radius: 24px;
  border: 1px solid #064E3B;
  background:#ECFDF5;
}
.right_guideline_card span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 1000px;
  background: #5C997C;
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.right_guideline_card h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding: 0;
  line-height: 33.6px;
  color: #1B2032;
}

.right_guideline_card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  line-height: 24px;
  color: #1B2032;
}
@media (max-width: 800px) {
  .right_guideline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .right_guideline_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 5px 24px;
    border-radius: 24px;
    border: 1px solid #064E3B;
    background:#ECFDF5;
  }
  .right_guideline_card span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 1000px;
    background: #5C997C;
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }
  .right_guideline_card h5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 28.6px;
    color: #1B2032;
  }
  .right_guideline_card p {
    font-size: 13px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    line-height: 24px;
    color: #1B2032;
  }
}

.guideline_section_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 50%;
}

.guideline_section_steps_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 2.25rem 0;
}

.guideline_section_step_img_container {
  position: relative;
  width: 50%;
  height: 6em;
}

.guideline_section_step_illustration_container {
  position: relative;
  border-radius: 50%;
}

.guideline_section_step_illustration_component {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
}

.guideline_section_step_illustration {
  position: absolute;
  width: 100%;
  height: 100%;
}

.guideline_section_step_infos {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

.guideline_section_step_title {
  font-size: 1.5rem;
  font-weight: 600;
}

.guideline_section_step_content {
  color: rgba(139, 145, 151, 1);
}

.advantages_section {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding-top: 13.25rem;
    /* Add some padding for inner spacing */
  /* padding: 1rem; */

  /* Set max-width to ensure it doesn't stretch too wide on large screens */
  max-width: 1300px;

  /* Center the container horizontally */
  margin: 0 auto;

  /* Ensure it adapts to smaller screens */
  width: 100%;

  /* Responsive media queries */
  @media (max-width: 1200px) {
    max-width: 1100px;
  }
  
  @media (max-width: 1000px) {
    max-width: 900px;
  }

  @media (max-width: 800px) {
    max-width: 700px;
  }

  @media (max-width: 600px) {
    padding: 0.5rem;
    max-width: 550px;
  }
}

@media (max-width: 800px) {
  .advantages_section {
    flex-direction: column;
    max-width: 750px;
    padding: 0px;
  }
}

.AdvantageImage {
  /* width: 635px;
  height: 640px; */
  width: 40%;
  height: 600px;
  object-fit: cover;
  border-radius: 16px;

}

.AdvantageFlex {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  gap: em;
  margin-left: 50px;
  width: 60%;
}
.AdvantageFlex h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height:  57.6px;
  color: #1B2032;
}
.AdvantageFlex p {
  font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
@media (max-width: 800px) {
  .AdvantageFlex {
    margin-left: 0px;
    width: 80%;
  }
  .AdvantageFlex h3 {
    margin-top: 30px;
    font-size: 28px;
    line-height:  50.6px;
    text-align: center;
  }
  .AdvantageFlex p {
    text-align: center;
    font-size: 18px;
  }

}
.AdvantageFlex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
}
@media (max-width: 800px) {
  .AdvantageFlex2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0 auto;
    /* gap: 1em; */
  }
}
.AdvantageFlex2 h5 {
  font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 33.6px;
}
@media (max-width: 800px) {
  .AdvantageFlex2 h5 {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}
.advantages_section_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
}

.advantages_card_container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem 4rem 2rem 2rem;
  min-height: 336px;
}

.advantages_card_title {
  color: rgb(56, 199, 152);
  font-size: 1.5rem;
}

.competences_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 51.5rem;
  position: relative;
  background-color: #FFFFFF;
  margin: 5rem 0 0 0;
  width: 100%;
  /* padding-bottom: 50px; */
}

.competences_section_illustration_container {
  margin: 0 5% 0 0;
  position: relative;
  width: 800px;
}

.competences_section_illustration {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.competences_section_infos {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  justify-content: center;
}

.competences_section_infos_content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-size: 20px;
  font-weight: 400;
  margin: 2.25rem 0;
  line-height: 30px;
  color: rgba(27, 32, 50, 0.77);
}

.competences_section_actions_container {
  margin-top: 1rem;
  max-width: 202px;
}

.presentation_section {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  border-radius: 32px;
  align-items: center;
  padding: 4rem 10rem;
  /* padding: 64px; */
  width: 80%;
  background: white;
  margin: 0px auto;
  justify-content: space-between;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.presentation_section_illustration_container_bg {
  background-image: url('/images/bg_france.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100vw;
  height: 800px;
}


.presentationSectionButton {
  background-color: #009B73;
  border-radius: 11px;
  border: none;
  color: white;
  margin-top: 20px;
  padding: 12px 24px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.presentation_section_infos {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.presentation_section_content {
  margin-top: 1.25rem;
  color: rgba(27, 32, 50, 0.70);
}

.presentation_section_illustration_container {
  width: 22rem;
  height: 22rem;
  position: relative;
}

.presentation_section_illustration {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blog_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-color: #FFFFFF;
}

.blog_articles_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  gap: 0.5em;
  flex-wrap: wrap;
}

.blog_article_thumbnail {
  position: relative;
  height: 60%;
}

.blog_article_infos {
  margin: 0 1rem;
}

.blog_article_title {
  font-size: 1.25rem;
  color: rgba(27, 32, 50, 1);
  margin-bottom: 1.25rem;
}

.blog_article_content {
  color: rgba(27, 32, 50, 0.75);
  margin-bottom: 1.25rem;
}

.blog_article_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}

.blog_article_action_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.650rem;
  color: #000000;
}

.blog_see_more {
  margin-top: 2.5rem;
  width: 12rem;
}

.getting_started_section {
  width: 100vw;
  position: relative;
  /* min-height: 28.75rem; */
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 150px;
}

.getting_started_container {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 100%; */
  justify-content: center;
  /* margin: 4.25rem 0; */
  padding: 48px;
  /* column-gap: 1rem; */
  background-color: #ECFDF5;
  border-radius: 32px;
}
.left_box {
  position: absolute;
  /* width: 100px;  */
  /* height: 100px; */
  top: -25px;
  left: 110px;
  z-index: 100;
  /* object-fit: contain; */
}
.right_box {
  position: absolute;
  object-fit: contain;
  right: -25px;
  /* width: 20%; */
  top: 100px;
}

@media (max-width: 800px) {
  .left_box {
    display:none;
  }
  .right_box {
    display: none;
  }
}
.getting_started_left_container {
  width: 50%;
  max-width: 50%;
  /* width: 72.5rem; */
  background-color: #F9FAFB;
}

.getting_started_section_right_container {
  width: 500px;
  height: 20rem;
  /* width: 72.5rem; */
  background-color: #F9FAFB;
  position: relative;
}

.getting_started_section_illustration_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getting_started_illustration {
  position: absolute;
  width: 100%;
  height: 100%;
}

.getting_started_infos {
  display: flex;
  flex-direction: column;
  /* margin: 7rem auto 3.2rem 5.2rem; */
  text-align: left;
  align-items: center;
  justify-content: center;
  max-width: 53.5rem;
}

.getting_started_infos h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  color: #1B2032;
}

.getting_started_infos p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #1B2032;
}
.getting_started_action_container {
  width: 15rem;
  margin-left: 5.2rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

.buttons button:first-child {
  font-family: "Rubik", sans-serif;
  background-color: #009B73;
  color: white;
  border-radius: 11px;
  background: #009B73;
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.buttons button:last-child {
  font-family: "Rubik", sans-serif;
  background-color: #009B73;
  color: black;
  border-radius: 11px;
  background: #F2FFF5;
  padding: 12px 24px;
  border: 1px solid #009B73;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .prestation_section_subtitle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 2em;
  }

  .section_subtitle {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 25px;
    text-align: center;
    padding: 0 0.5em
  }

  .estimate_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #F9FAFB;
    margin: 0;
    padding: 16px;
  }
  
  .home_estimate_section_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .estimate_section_actions_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
    max-width: 400px;
  }

  .section_title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: rgb(56, 199, 152);
  }
/* 
  .guideline_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: #F9FAFB;
    height: auto;
  } */

  .guideline_section_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    width: 80%;
  }

  .guideline_section_steps_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2.25rem 0;
  }

  .guideline_section_step_img_container {
    position: relative;
    width: 50%;
    height: 6em;
  }

  .guideline_section_step_illustration_container {
    position: relative;
    border-radius: 50%;
  }

  .guideline_section_step_illustration_component {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 8em;
  }

  .guideline_section_step_illustration {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .guideline_section_step_infos {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
  }

  .guideline_section_step_title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .guideline_section_step_content {
    color: rgba(139, 145, 151, 1);
  }

  .home_estimate_section_right {
    display: flex;
    flex-direction: column;
    height: 46em;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .home_estimate_section_right_img_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 600px;
    width: 400px;
  }

  .home_estimage_section_right_img_illustration {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    border-radius: 32px;
    object-fit: contain;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
}
  
  .competences_section {
    display: flex;
    flex-direction: column;
    height: 75rem;
    background-color: #FFFFFF;
    margin: 5rem 0 0 0;
    width: 100%;
  }
  
  .competences_section_illustration_container {
    position: relative;
    height: 45%;
    width: 100%;
    min-width: 100%;
  }
  
  .competences_section_illustration {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .competences_section_infos {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 55%;
    padding: 0 2em;
  }
  
  .competences_section_infos_content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 20px;
    font-weight: 400;
    margin: 2.25rem 0 0 0;
    color: rgba(27, 32, 50, 0.77);
  }
  
  .competences_section_actions_container {
    margin-top: 1rem;
    max-width: 202px;
  }

  .presentation_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #F9FAFB;
    justify-content: center;
    padding: 2em 0;
    gap: 2em;
  }
  
  .presentation_section_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0.5em;
  }
  
  .presentation_section_content {
    margin-top: 1.25rem;
    color: rgba(27, 32, 50, 0.70);
    width: 75%;
  }
  
  .presentation_section_illustration_container {
    width: 22rem;
    height: 22rem;
    position: relative;
  }
  
  .presentation_section_illustration {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .getting_started_section {
    width: 100vw;
    /* min-height: 28.75rem; */
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .getting_started_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.25rem;
    gap: 2em;
    padding: 30px;
  }
  
  .getting_started_left_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 72.5rem; */
    background-color: #F9FAFB;
    gap: 2em;
  }
  
  .getting_started_section_right_container {
    width: 85%;
    height: 12rem;
    /* width: 72.5rem; */
    background-color: #F9FAFB;
    position: relative;
  }
  
  .getting_started_section_illustration_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .getting_started_illustration {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .getting_started_infos {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .getting_started_action_container {
    width: 15rem;
    margin: 0
  }

  .blog_article_thumbnail {
    position: relative;
    min-height: 110px;
  }

  .estimate_section_main_content {
    color: #1B2032;
    font-size: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}