@media screen and (max-width: 750px) {
  .furnitures_buy_description {
    width: 100%;
    background-color: #F9FAFB;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .furnitures_buy_description_illustration {
    position: relative;
    width: 100%;
    height: 35.8em;
    top: 0;
    right: 0;
    /* display: none; */
  }
  
  .furnitures_buy_description_illustration_img {
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: none; */
  }

  .furnitures_buy_description_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding: 10%;
  }
  .furnitures_buy_description_action {
    padding: 1.25em 0;
    display: flex;
    cursor: pointer;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
  }
  .furnitures_buy_description_action_icon > svg {
    font-size: 1.2em;
    display: flex;
  }
}

@media screen and (min-width: 750px) {
  .furnitures_buy_description {
    width: 60%;
    background-color: #F9FAFB;
    min-height: 32.5em;
    margin-bottom: 10em;
    padding-bottom: 2em;
  }

  .furnitures_buy_description_illustration {
    position: absolute;
    width: 40%;
    height: 35.8em;
    top: 0;
    right: 0;
  }
  
  .furnitures_buy_description_illustration_img {
    width: 100%;
    height: 100%;
  }

  .furnitures_buy_description_content {
    padding: 5.125em 0 0 25%;
    width: 75%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .furnitures_buy_description_action {
    padding: 1.25em 0;
    display: flex;
    cursor: pointer;
    max-width: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
  }
  .furnitures_buy_description_action_icon {
    font-size: 1em;
    display: flex;
  }
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.empty_items_list {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  padding: 1em;
  color: rgba(139, 145, 151, 1);
}

.furnitures_buy_description_content_text {
  padding: 1.25em 0;
  color: rgba(139, 145, 151, 1);
}

.furnitures_buy_items_container {
  margin: 6em 0;
}

.furnitures_buy_items_categories_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  row-gap: 1em;
  column-gap: 5%;
}

.furnitures_buy_items_grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.furnitures_buy_items_grid_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  padding: 0 2em;
}

.furnitures_buy_footer {
  position: relative;
  min-height: 22.125em;
  padding: 0 20%;
  background-image: url('../../public/images/logo.png');
  background-size: cover;
}

.furnitures_buy_footer::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 72, 88, 0.94);
}

.furnitures_buy_footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  padding: 4.375em 0;
}

.furnitures_buy_footer_title {
  color: rgb(56, 199, 152);
}

.furnitures_buy_footer_subtitle {
  color: white;
  font-weight: 600;
  font-size: 2.125em;
  padding: 0.5em 0;
}

.furnitures_buy_footer_socials {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.furnitures_buy_footer_social_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-decoration: none !important;
}

.furnitures_buy_footer_social_wrapper {
  position: relative;
  height: 48px;
  width: 48px;
}

.furnitures_buy_footer_social_wrapper_little {
  position: relative;
  height: 24px;
  width: 24px;
}

.furnitures_buy_footer_social_logo_illustration {
  position: absolute;
  height: 100%;
  width: 100%;
}

.furnitures_buy_footer_social_logo_label {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.furnitures_buy_footer_action_container {
  width: 10.75em;
}
