@media screen and (max-width: 750px)
{
  .contact_page_container {
    margin: 5% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .contact_page_information {
    display: flex;
    text-align: left;
    flex-direction: column;
    height: 100%;
  }

  .contact_page_form {
    display: flex;
    margin-top: 20%;
    flex-direction: column;
    height: 100%;
    width: 90%;
    background-color: rgba(249, 250, 251, 1);
    border-radius: 17px;
  }
}

@media screen and (min-width: 750px)
{
  .contact_page_container {
    margin: 5% 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  .contact_page_information {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
  }

  .contact_page_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: rgba(249, 250, 251, 1);
    border-radius: 17px;
  }
}

.contact_page_subtitle {
  margin-bottom: 2em;
  font-size: 1.25em;
  font-weight: 600;
}

.contact_page_section_title {
  font-weight: 600;
}

.contact_page_section_content {
  color: rgba(139, 145, 151, 1)
}

.contact_page_contact_section_container {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}


.contact_form_container {
  padding: 5% 8%;
}

.contact_form_input_container {
  margin: 8% 0;
}

.contact_form_action_container {
  padding: 5% 8%;
}

.contact_form_after_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 8% 15%;
  row-gap: 1.5em;
}

.contact_form_after_validate_icon {
  width: 50%;
  height: 50%;
  color: rgb(56, 199, 152);
}

.contact_form_after_title {
  font-size: 1.5em;
  font-weight: 600;
}