@media screen and (min-width: 751px) and (max-width: 1000px) {
  .menu_label_span {
    text-transform: none;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
}

@media screen and (min-width: 1001px) and (max-width: 1250px) {
  .menu_label_span {
    text-transform: none;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
}

@media screen and (max-width: 750px) {
  .container {
    display: none;
  }

  .secondary_nav_header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: 5% 5% 2% 5%;
    row-gap: 1.5em;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.05);
  }

  .secondary_nav_header_stepper {
    /* right: 4.25em; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
  }

  .logo_container {
    display: flex;
    align-items: center;
    position: relative;
    height: 5em;
    width: 5rem;
  }

  .menu_label_span {
    text-transform: none;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
}
@media screen and (min-width: 750px) {
  .container {
    width: 100vw;
    height: 5em;
    display: flex;
    align-items: center;
    padding: 0px 64px ;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.05);
  }

  .secondary_nav_header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    height: 5.625em;
    padding: 0 5%;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.05);
  }

  .secondary_nav_header_stepper {
    /* right: 4.25em; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: 50%;
  }
  .logo_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 60%;
    width: 5rem;
  }

  .primary_logo_container {
    display: flex;
    align-items: center;
    position: relative;
    height: 4em;
    width: 15vw;
    max-width: 130px;
    margin-left: 1rem;
  }
  .menu_label_span {
    text-transform: none;
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(56, 199, 152);
  padding: 8px 20px;
  width: 180px;
  max-width: 160px;
  border-radius: 11px;
  cursor: pointer;
  text-align: center;
}

.button_component {
  font-family: 'Satoshi';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: white;
  line-height: 24px;
}

.label {
  color: rgb(28, 33, 50);
  font-family: 'proxima-nova', sans-serif;
}

.menu_label_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  line-height: normal;
}
.button_contact {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 11px;
  border: 1px solid #009B73;
  background: #F2FFF5;
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  line-height: 24px;
}
.menu_label_icon {
  font-size: 1rem;
  margin-left: 4px;
  font-weight: 600;
  transform: rotate(0deg);
}

.menu_label_icon_expanded {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.secondary_nav_header_go_back {
  width: 20%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.secondary_nav_header_go_back_text {
  margin-left: 0.5em;
}

.menu_item_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'proxima-nova', medium;
  color: rgb(27, 32, 50);
  padding: 6px 8px;
}

.menu_item_label {
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 10px;
}

.alternative-label {
  margin: 0 !important;
  font-size: 100%;
}