.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
}

.bsmove_title {
  font-size: 2.25rem;
  color: rgb(56, 199, 152);
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.section_title {
  font-size: 1rem;
  color: rgb(56, 199, 152);
  text-transform: uppercase;
  font-family: sans-serif;
}

.section_subtitle {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 2.25rem;
}

.section_content {
  font-size: 1rem;
  color: rgba(139, 145, 151, 1);
  margin-top: 1.25rem;
}

.estimate_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #F9FAFB;
  padding: 16px 70px;
  gap: 36px;
}
.home_estimate_section_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 46em;
  width: 50%;
  flex-wrap: wrap;
  font-family:sans-serif;
}

.home_estimate_section_right {
  display: flex;
  height: 500px;
  width: 750px;
  min-width: 650px;
  max-width: 750px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.home_estimate_section_right_img_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 750px;
}

.home_estimage_section_right_img_illustration {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
}


.estimate_section_main_content {
  color: #1B2032;
  font-size: 2.25rem;
  margin: 0;
}

.estimate_section_secondary_content {
  margin: 30px 0;
  font-size: 1rem;
  color: rgba(139, 145, 151, 1);
}

.estimate_section_actions_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  width: 325px;
}

.prestations_section {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8em 2em 0 2em;
}

@media (min-width: 1100px) {
  .prestation_section_subtitle_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}


.prestation_section_content {
  text-align: center;
  align-items: center;
  width: 60%;
}

.prestation_section_categories_container {
  padding-top: 3.75rem;
  padding-bottom: 9.5rem;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  width: 100%;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.prestation_section_category_container {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: calc(242px + 72);
  width: 278px;
}

.prestation_section_category_thumbnail_container {
  position: relative;
  min-height: 242px;
  min-width: 278px;
  width: 100%;
}

.prestation_section_category_thumbnail {
  min-height: 100%;
  min-width: 100%;
  cursor: pointer;
  object-fit: contain;
}

.prestation_section_category_content {
  height: 72px;
  width: 100%;
  min-height: 20%;
  min-width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1rem;
  font-size: 1.25rem;
  color: #1B2032;
}

.guideline_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 872px;
  background-color: #F9FAFB;
}

.guideline_section_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 50%;
}

.guideline_section_steps_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 2.25rem 0;
}

.guideline_section_step_img_container {
  position: relative;
  width: 50%;
  height: 6em;
}

.guideline_section_step_illustration_container {
  position: relative;
  border-radius: 50%;
}

.guideline_section_step_illustration_component {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
}

.guideline_section_step_illustration {
  position: absolute;
  width: 100%;
  height: 100%;
}

.guideline_section_step_infos {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

.guideline_section_step_title {
  font-size: 1.5rem;
  font-weight: 600;
}

.guideline_section_step_content {
  color: rgba(139, 145, 151, 1);
}


.competences_section {
  display: flex;
  flex-direction: row;
  height: 51.5rem;
  position: relative;
  background-color: #FFFFFF;
  margin: 5rem 0 0 0;
  width: 100%;
}

.competences_section_illustration_container {
  margin: 0 5% 0 0;
  position: relative;
  width: 800px;
}

.competences_section_illustration {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.competences_section_infos {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  justify-content: center;
}

.competences_section_infos_content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2.25rem 0;
  color: rgba(27, 32, 50, 0.77);
}

.competences_section_actions_container {
  margin-top: 1rem;
  max-width: 202px;
}

.presentation_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4.5rem 14rem;
  width: 100%;
  background-color: #F9FAFB;
  justify-content: space-between;
}

.presentation_section_infos {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.presentation_section_content {
  margin-top: 1.25rem;
  color: rgba(27, 32, 50, 0.70);
}

.presentation_section_illustration_container {
  width: 22rem;
  height: 22rem;
  position: relative;
}

.presentation_section_illustration {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media (max-width: 1100px) {
  .prestation_section_subtitle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 2em;
  }

  .section_subtitle {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 30px;
    text-align: center;
    padding: 0 0.5em
  }

  .estimate_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #F9FAFB;
    margin: 0;
    padding: 16px;
  }
  
  .home_estimate_section_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .estimate_section_actions_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
    max-width: 400px;
  }

  .section_title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: rgb(56, 199, 152);
    text-transform: uppercase;
  }

  .guideline_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: #F9FAFB;
    height: auto;
  }

  .guideline_section_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    width: 80%;
  }

  .guideline_section_steps_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2.25rem 0;
  }

  .guideline_section_step_img_container {
    position: relative;
    width: 50%;
    height: 6em;
  }

  .guideline_section_step_illustration_container {
    position: relative;
    border-radius: 50%;
  }

  .guideline_section_step_illustration_component {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 8em;
  }

  .guideline_section_step_illustration {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .guideline_section_step_infos {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
  }

  .guideline_section_step_title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .guideline_section_step_content {
    color: rgba(139, 145, 151, 1);
  }

  .home_estimate_section_right {
    display: flex;
    flex-direction: column;
    height: 46em;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .home_estimate_section_right_img_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 60%;
    width: 100%;
  }

  .home_estimage_section_right_img_illustration {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: contain;
  }
  .competences_section {
    display: flex;
    flex-direction: column;
    height: 75rem;
    background-color: #FFFFFF;
    margin: 5rem 0 0 0;
    width: 100%;
  }
  
  .competences_section_illustration_container {
    position: relative;
    height: 45%;
    width: 100%;
    min-width: 100%;
  }
  
  .competences_section_illustration {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .competences_section_infos {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 55%;
    padding: 0 2em;
  }
  
  .competences_section_infos_content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 2.25rem 0 0 0;
    color: rgba(27, 32, 50, 0.77);
  }
  
  .competences_section_actions_container {
    margin-top: 1rem;
    max-width: 202px;
  }

  .presentation_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #F9FAFB;
    justify-content: center;
    padding: 2em 0;
    gap: 2em;
  }
  
  .presentation_section_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0.5em;
  }
  
  .presentation_section_content {
    margin-top: 1.25rem;
    color: rgba(27, 32, 50, 0.70);
    width: 75%;
  }
  
  .presentation_section_illustration_container {
    width: 22rem;
    height: 22rem;
    position: relative;
  }
  
  .presentation_section_illustration {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .estimate_section_main_content {
    color: #1B2032;
    font-size: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}