@media screen and (min-width: 750px) {
    .price_calculator__container {
        position: fixed;
        right: 1em;
        bottom: 1em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 400px;
        background-color: rgba(15, 23, 42, 1);
        color: rgb(255, 255, 255);
        border-radius: 8px;
        z-index: 999;
        justify-content: space-between;
    }
    .price_calculator__distance {
        display: flex;
        justify-content: space-evenly;
        gap: 0.5em;
    }
    .price_calculator__header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .price_calculator__separator {
        display: block;
        width: 100%;
    }
    .price_calculator__price {
        background-color: white;
        border-radius: 8px;
        height: 56px;
        width: 100%;
        display: flex;
        color: rgba(15, 23, 42, 1);
        font-weight: bold;
        align-items: center;
        padding: 1em;
        justify-content: space-between;
        gap: 0.5em
    }
    .price_calculator__price_details_list {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .price_calculator__price_detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(255, 255, 255);
        gap: 16px;
    }
}
@media screen and (max-width: 750px) {
    .price_calculator__container {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        background-color: rgba(15, 23, 42, 1);
        color: rgb(255, 255, 255);
        height: 56px;
        left: 0;
        padding: 1em;
        z-index: 999;
        align-items: center;
    }
    .price_calculator__distance {
        display: flex;
        gap: 0.5em;
    }
    .price_calculator__separator,
    .price_calculator__price_details_list {
        display: none;
    }
    .price_calculator__price {
        display: flex;
        gap: 0.5em
    }
}